[Desktop Entry]
Type=Application
Name=Yazi (Alacritty)
GenericName=Dateimanager
Comment=Dateimanager im Terminal
Icon=yazi
Exec=alacritty -e yazi %f
Terminal=false
StartupNotify=false
NoDisplay=false
Categories=Utility;FileManager;
MimeType=inode/directory;
